@model BetaDota2StatsMVC.Models.ProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>User Profile Info</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Profile.Account_id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.Account_id)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.Personaname)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.Personaname)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.Plus)
            </dt>
            @{
                if (Model.Profile.Plus)
                {
                    <dd>
                        YES
                    </dd>
                }
                else
                {
                    <dd>
                        NO
                    </dd>
                }
            }
            <dt>
                @Html.DisplayNameFor(model => model.Profile.Steamid)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.Steamid)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.Avatar)
            </dt>
            @{
                var avatar = Model.Profile.Avatar;
            }
            <dd>
                <img src="@avatar" alt="Not Found">
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.ProfileUrl)
            </dt>
            @{
                var profile = Model.Profile.ProfileUrl;
            }
            <dd>
                <a href="@profile">User Profile</a>
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.Last_login)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.Last_login)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Profile.LocCountryCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Profile.LocCountryCode)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Mmr_Estimate.Estimate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mmr_Estimate.Estimate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Solo_competitive_rank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Solo_competitive_rank)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Competitive_rank)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Competitive_rank)
            </dd>
        </dl>
    </div>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
